{% extends 'base.html.twig' %}

{% block body %}


   <h1>Application animaux V1</h1>
    <p> Liste d'animaux :</p>
   <a href="{{ path('animaux_index') }}">Back to the list</a>
   <p> Creer un nouveau type : </p>
   <a href="{{ path('typeAnimaux_newType') }}">Creer un type</a>



{% endblock %}



