{% extends 'base.html.twig' %}

{% block body %}




    <div class="jumbotron">
        <h1 class="text-center">Application animaux </h1>
        <p class="text-center">TP d'apprentissage de Symfony 3 réalisé lors du stage de LP SARI chez Centaure Systems.</p>
    </div>


{% endblock %}



