{% extends 'base.html.twig' %}

{% block body %}
    <h1>Type list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for type in typees %}
            <tr>
                <td>{{ type.id }}</a></td>
                <td>{{ type.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
