{% extends 'base.html.twig' %}

{% block body %}
<h1>Animaux list Accouplement</h1>
    <p> Choisir deux animaux pour la reproduction : </p>

    {{ form_start(accouplement_form) }}
        {{ form_widget(accouplement_form) }}
    {{ form_end(accouplement_form) }}

    <br/>
    <a href="{{ path('animaux_index') }}">Back to the list</a>

    {% if methods == true %}
        <p>Nous sommes en POST</p>
    {% endif %}

{% endblock %}
