body {
    background-color: #aaaaa0;
}

table {
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:50%;
}
td {
    border-width:1px;
    border-style:solid;
    border-color:red;
    width:20%;
    text-align: center;
}